
:root{
    
--white-color: hsl(0, 0%, 100%);
--button-end: hsl(217, 12%, 63%);
--cont1-color: hsl(216, 12%, 54%);
--dark-blue: hsl(213, 19%, 18%);
--very_dark_blue: hsl(216, 12%, 8%);
--orange-color: hsl(25, 97%, 53%);
}

*{
    margin: 0;
    padding: 0;
}
body{
    background-color: var(--very_dark_blue); 
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container{
    height: 400px;
    aspect-ratio: 1/1;
    background:radial-gradient(circle at top, hsl(213, 19%, 17%), hsl(216, 12%, 9%));
    border-radius: 5%;
    
}
.first_ph{
    height: 40px;
    aspect-ratio: 1/1;
    background: var(--dark-blue);
    display:flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin-left: 5%;
    margin-top: 5%;
}
.text_1{
    color: var(--white-color);
    display: flex;
    margin-left: 6%;
    margin-top: 8%;
    font-family: 'Overpass', sans-serif;
    font-weight: 700;
    font-size: 25px;
}
.text_2{
    color:var(--cont1-color);
    display: flex;
    margin-left: 6%;
    margin-top: 5%;
    font-family: 'Overpass', sans-serif;
}

.button{
    margin-top: 8%;
    margin-left: 6.8%;
    width: 11%;
    aspect-ratio: 1/1;
    border-radius: 50%;
    background-color:var(--dark-blue);
    color:var(--cont1-color);
    border: none;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}

.button:hover {
    color: rgba(255, 255, 255, 1);
    background-color: var(--button-end);
  }
  .button:focus{
    color: rgba(255, 255, 255, 1);
    background-color: var(--orange-color);
  }
  .sumbit{
    background-color: var(--orange-color);
    font-family: 'Overpass', sans-serif;
    color: var(--white-color);
    margin-top: 8%;
     margin-left: auto;
     margin-right: auto;
     width: 80%;
    aspect-ratio: 7.7/1;
    border-radius: 30px;
    transition: all 0.5s;
    border: none;
    cursor: pointer;
    display:flex;
    align-items: center;
    justify-content: center;
  }

  .sumbit:hover{
    background-color: var(--white-color);
    color: var(--orange-color);
  }
  .hidden{
    display: none;
  }
  .second_ph{
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
  
  }
  .littleback{
    background-color: var(--dark-blue);
    height: 35px;
    aspect-ratio: 6/1;
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
  }
  .YS{
    color: var(--orange-color);
    font-family: 'Overpass', sans-serif;
    margin-top: 3%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .TY{
    display: flex;
    color: var(--white-color);
    margin-top: 10%;
    font-family: 'Overpass', sans-serif;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    justify-content: center;
    font-size: 30px;
  }
  .text_3{
    display: flex;
    color: var(--button-end);
    margin-top: 4%;
    margin-left: 5%;
  margin-right: 5%;
    text-align: center;
    font-family: 'Overpass', sans-serif;
  }

  @media screen and (max-width: 600px){
    .container{
        width: 350px;
    }
}